*{
	margin: 0px;
	padding: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0.060)), url(afbeeldingen/background.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
  width:85%;
    margin: auto;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color:red;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: red;
    position: absolute;
    left: 0;
    bottom: -2.5px;
    transition: 0.75s;
}
.navbar ul li:hover:after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 75%;
    transform: translateY(-50%);
    text-align: center;
    color: red;   
}
.content h1{
    font-size: 70px;
    margin-top: 50px;
}
.content p{
    font-size: 20px;
    margin-top: 1px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid red;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: red;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.75s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border:none;
}
.Shrek{
    width: 100%;
    height: 100vh;
    background-image: url(afbeeldingen/shrek.jpg);
    background-size:cover;
    background-position: center;
}
.Homebutton{
    width:85%;
      margin: auto;
      padding: 50px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .Homebutton ul li{
      list-style: none;
      display: inline-block;
      margin: 0 10px;
      position: relative;
  }
  .Homebutton ul li a{
      text-decoration: none;
      color:red;
      text-transform: uppercase;
  }
  .Homebutton ul li::after{
      content: '';
      height: 3px;
      width: 0%;
      background: red;
      position:absolute;
      left: 0;
      bottom: -2.5px;
      transition: 0.75s;
  }
  .Homebutton ul li:hover:after{
      width: 100%;
  }